.Basket {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center ;
    background-color: #f5f5f5;
    padding: 1rem;
    border: 1px solid;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 10px 17px 0 rgb(112, 114, 176, 0.20);
}

.basketImg {
    height: 100px;
    width: auto;
    object-fit: contain;
}

.trash {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.Basket-title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Basket-title h4 {
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.Basket-title span {
    color: gray;
    font-weight: 700;
}

.Basket p {
    flex-wrap: nowrap;
    font-size: 1.5rem;
    color: rgb(204, 18, 37);
    margin-right: 3rem;
    margin-top: 4rem;
}

.baskets {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.totalPrice{
    display: flex;
    justify-content: center;
    align-items: center;
}